.container {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
}
.brett {
  align-items: center;

}
.zuege {
  overflow-y:scroll;

}
.zug{
  background-color: lightgrey;
  width:100%;
  font-size: 18px;
  text-align: center;

}
.zug-button{
  padding: 2px;
}
.mat-row:nth-child(even){
  background-color: #505050;
  color: white;
}

.mat-row:nth-child(odd){
  background-color: white;
  color: black;
}
.mat-row{
  height: 30px;
}

.mat-cell{
  color:unset;
}
.mat-header-cell {
  background-color: gray;
  color: white;
  flex-direction: column;
  justify-content: center;
}
