.mat-radio-button  {
  margin-left: 16px;
  border-color: blue;
}
.mat-radio-input  {
  background-color: green;
   border-color: blue;
}
.mat-radio-inner-circle  {
  background-color: green;
  border-color: blue;
}
